/*--FOOTER--*/
.footer{
    padding-top: 3rem;

    @media (min-width: 375px) {
        .img-logo{
            width: 80%; 
            
        }
    }
    @media (min-width: 768px) {
        .img-logo{
            width: 80%;
         
        }
    }
    

}
