/*--FOOTER--*/
.footer{
    background-color: #2A2E31;
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.80));
    padding-top: 3rem;

   
    @media (min-width: 375px) {
        .img-logo{
            width: 80%; 
            
        }
    }
    @media (min-width: 768px) {
        .img-logo{
            width: 80%;
         
        }
    }
    

}
