
.header--imagenbg{
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.7)
        ), url("../assets/img-about-us/bg-nosotros.png");
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
    .titulo-header{
        height: 100vh;     
    }
    

}
.row{
    justify-content: center;
}

//imagenes variada en tamaño como si fueran logos (ordenar en variables)
#comilla{
    width: 6rem;
    height: 5rem;
}
#icon{
    width: 4.5rem;
    height: 4rem;

}















/*________________________ */
