

.row{
    justify-content: center;
}

//imagenes variada en tamaño como si fueran logos (ordenar en variables)
#comilla{
    width: 6rem;
    height: 5rem;
}
#icon{
    width: 4.5rem;
    height: 4rem;

}















/*________________________ */
