
.encabezado--imagenbg{
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.7)
        ), url("../assets/img-about-us/bg-nosotros.png");
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
    .titulo-header{
        height: 100vh;     
    }
    

}
.row{
    justify-content: center;
}










/*________________________ */
.header__logo{
    grid-area: logo;
    align-self: start;
    justify-self: start; 
    padding-top: 1.563rem;  
}
.header__logo a{
    padding-left: 1.875rem;
}
.header__logo img{
    width: 20%;
}
.header__nav{
    grid-area: nav; 
    justify-self: end;
    align-self: start;       
}
.header__nav ul{
    list-style-type: none;
    padding: 2rem;
}
.header__nav li{
    display: inline-block;
}
.header__nav a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6rem;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    font-family: 'Nunito Sans', sans-serif;
}
.header__titulo{
    grid-area: titulo;
    justify-self: end;
    align-self: end;
    padding-bottom: 0.05rem;
    padding-top: 9.375rem;
    padding-left: 3rem;
    padding-right: 36rem;
    /*--propiedades texto--*/
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: right;
}
.header__titulo h1{
    font-weight: 300; 
    font-size: 4rem;
    text-transform: uppercase;
    padding-top: 0.063rem;
    padding-bottom: 0.063rem;
    padding-right: 0.63rem;
    
}
.header__titulo h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    padding-bottom: 0.063rem;
    padding-top: 0.063rem;
    padding-right: 0.63rem;
}
.header__presentacion{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-size: 0.8rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    padding-left: 43rem;
    padding-right: 3rem;
    /*orden elementos*/
    grid-area: texto;
    justify-self: start;
    align-self: start;
    }

 /*---Enlaces internos en header home---*/
 .header__enlaceInterno{
    grid-area: enlace;
    align-self: start;
    justify-self: start;
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
 }
 .header__enlaceInterno ul{
    list-style-type: none;
    padding: 2rem;
    padding-left: 43rem;
    padding-bottom: 0.05rem;
    padding-top: 0.05rem;
    /*----flexbox-----*/
    display: flex;
    justify-content: end;
 }
 .header__enlaceInterno li{
    display: inline-block;
    display: flex;
    align-items: center;    
 }
 .header__enlaceInterno h4{
    color: rgb(255, 99, 8);
    font-family: 'Nunito Sans', sans-serif;
    text-align: right;
    font-size: 0.68rem;
    line-height: 20px;
    padding-bottom: 50xp;
    font-weight: 800;
   
 }
 .header__enlaceInterno a{
    text-shadow: 1rem;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.68rem;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    padding-bottom: 50xp;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
 }

  /*---ESTRUCTURA GRID DE NOSOTROS ---*/
 #gridnosotros{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "creadores creadores creadores creadores"
    "valores valores valores valores"
    "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto, 2fr 2fr 1fr; 
}

/*header personalizado nosotros*/
.header--background{
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.7)
    ), url("../assets/img-about-us/pexels-rok-romih-3312671.jpg");
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo logo nav nav"
    "manifiesto manifiesto manifiesto manifiesto"
    "texto texto texto texto"
    ;
    grid-template-columns: 25%, 25%, 25%, 25%;
    grid-template-rows: 1rem, 1fr, 1fr;
    align-content: stretch;
    grid-row-gap: 1rem;
    
}

.header__titulo#manifiesto{
    grid-area: manifiesto;
    display: flex;
    flex-direction: column;

}
.header__presentacion#manifiesto-text{
    grid-area: texto;
    justify-self: end;
    padding-right: 36rem;
    padding-left: 3rem;
    padding-bottom: 15rem;
    display: flex;
    flex-direction: column;
}



/*-----------------------------AREA DE CONTENIDO ---------------------------------------------*/
.contenido#presentacion{
    grid-area: presentacion;
}
.cuadricula{
    display: grid;
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    
}
/*
.contenido{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
    padding: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-size: 0.85rem;
    line-height: 1rem; 
}
*/
.contenido h3{
    color: rgb(0, 0, 0);
    font-weight: lighter;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3rem;
    padding-bottom: 0.625rem; 
}   
.contenido p{
    padding: 1rem;
}

.contenido#instructivo{
    grid-area: instructivo;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contenido#instructivo a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin: 10rem;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(255, 99, 8);
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.contenido--video{
    grid-area: video;
}
.contenido--video iframe{
    padding: 3rem;  
}

.contenido--background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.8)) url("./Imagenes/03.jpg");
    background-size: cover;
    background-color: rgb(111, 113, 114);
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px; 
    grid-area: tips;
}

.contenido--background h3{
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3rem;
    padding-bottom: 10px;
}
.contenido--background h4{
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 1rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contenido--background h5{
    color: rgb(255, 99, 8);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 5px;
    padding-bottom: 50px;
}
.contenido--background a{
    text-decoration: none;
}

.contenido--background p{
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-size: 0.85rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.columnas{
    display: flex;
    flex-wrap: nowrap;

}
/*contenido personalizado nosotros*/
.contenido#creadores{
    grid-area: creadores;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(29, 28, 28);
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)), url("../assets/img-about-us/fondo-owner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-shadow: black;
    height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.card#horizontal{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.card#horizontal img{
    width: 45%;
}
.contenido#valores{
    grid-area: valores;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.contenido#valores h3{
    text-align: center;
    padding: 2rem;
    line-height: 2rem; /*interlineado*/   
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__text{
    display: flex;
    flex-direction: column;
}
#aling-nombre01{
  text-align: right; 
  padding: 1rem;
}
#aling-nombre02{
    text-align: left; 
    padding: 1rem;
}
.card img{
    width: 20%;
    padding: 1rem;
}
.contenido#valores h4{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem;
}

  