/*header personalizado nosotros*/
.header--background{
    grid-area: header;
    background-color: black;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ), url("../assets/img-about-us/pexels-rok-romih-3312671.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /*GRID EN HEADER NOSOTROS*/
    display: grid;
    grid-template-areas:
    "logo nav"
    "manifiesto manifiesto"
    "texto texto";
    grid-template-columns: 50%, 50%;
    grid-template-rows: 1fr, 3fr, auto;
    align-content: stretch;
    grid-row-gap: 0.1rem;
    height: 100vh;
}
.header__titulo#manifiesto{
    grid-area: manifiesto;
    display: flex;
    flex-direction: column;

}
.header__presentacion#manifiesto-text{
    grid-area: texto;
    justify-self: end;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 5rem;
    display: flex;
    
}
  
/*---AREA DE CONTENIDO---*/
.contenido#presentacion{
    grid-area: presentacion;          
}
.cuadricula{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;        
}
.contenido{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
    padding: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-size: 0.85rem;
    line-height: 1rem; 
}
.contenido h3{
    color: rgb(0, 0, 0);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3rem;
    padding-bottom: 0.625rem; 
}   
.contenido p{
    padding: 1rem;
   /* padding-top: 0.625rem;
    padding-bottom: 0.625rem; */
}
.contenido#instructivo{
    grid-area: instructivo;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.contenido#instructivo a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin: 10rem;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(255, 99, 8);
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
}
.contenido--video{
    grid-area: video;
}
.contenido--video iframe{
    padding: 1rem;  
}   
.contenido--background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.8)) url("./Imagenes/03.jpg");
    background-size: cover;
    background-color: rgb(111, 113, 114);
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px; 
    grid-area: tips;
}
.contenido--background h3{
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3rem;
    padding-bottom: 10px;
}
.contenido--background h4{
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 1rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contenido--background h5{
    color: rgb(255, 99, 8);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 5px;
    padding-bottom: 50px;
}
.columnas{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.contenido--background a{
    text-decoration: none;
}
.contenido--background p{
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-size: 0.85rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*contenido personalizado nosotros*/
.contenido#creadores{
    grid-area: creadores;
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 28, 28);
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)), url("../assets/img-about-us/fondo-owner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-shadow: black;
}
.card#horizontal{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.card#horizontal img{
    width: 40%;
}
.contenido#valores{
    grid-area: valores;
}
.contenido#valores h3{
    text-align: center;
    padding: 1.5rem;
    line-height: 2rem; /*interlineado*/
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__text{
    display: flex;
    flex-direction: column;
}
#aling-nombre01{
  text-align: left; 
  padding: 1rem;
}
#aling-{
    text-align: right; 
    padding: 1rem;
}
.card img{
    width: 30%;
    padding: 1rem;
}
.contenido#valores h4{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem;
}