@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,900;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@import "map-extend-mixin";
@import "servicios";
@import "footer";

@media only screen and (min-width: 0px) and (max-width: 767px){
    @import "nosotros-mobile";
    
}
@media only screen and (min-width: 768px){
    @import "nosotros-desktop";
}

/*AJUSTES PERSONALIZADOS SOBRE BOOTSTRAP*/
/*-- HEADER HOME--*/
.encabezado{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    ), url(../assets/bg-headerdark.jpg);
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/*--CONTENIDO HEADER HOME--*/
.titulo-header{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    text-align: center;
    
}

.presentacion-header{
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 3rem;
    text-align: center;   
}

/*--CONTENIDO-FEED HOME--*/
.contenido-feed{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    ), url(../assets/img-about-us/fondo-owner.png);
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    height: 100vh;
    .feedimg{
        width: 100%;
    }
    .btn-img{
        position: relative;
        display: inline-block;
        
        a{
            text-decoration: none;
            h4{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                text-transform: uppercase;
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 500; 
                font-size: 1.5rem; 
                text-align: center;  
            }
        }  
    }
}
/*--CONTENIDO-INVERSION HOME--*/
.contenido-inv{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    height: 100vh;
    .titulo-seccion{
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;
    }
    .card-inversion{
        text-align: center;
        border: 0.01rem solid rgb(177, 177, 177);
        border-radius: 1rem;
        padding-top: 1rem;
    }


    

}


/*-------------------------------------------------------------------------*/
/*--GALERIA--*//*--GALERIA--*//*--GALERIA--*/
.bg-imagen01{
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.9)
        ), url(../assets/bg-gallery.jpg);
    background-size: cover;
    background-color: black;
    background-position: initial;
    background-repeat: no-repeat;
    height: 100vh; 
}


/*-- HEADER GALERIA--*/
.w-100x100{
    width: 100%;
}
.w-30x100{
    width: 30%;
}
.w-20x100{
    width: 20%;
}
.w-10x100{
    width: 10%;
}

/*-------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------*/

/*--CONTACTO--*//*--CONTACTO--*//*--CONTACTO--*/
.contacto{
    background: url("../assets/bg-headerdark.jpg")no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
/*--CONTENIDO SECTION CONTACTO--*/
.card{
    background-color: rgba(0, 0, 0, 0.459);
}
.effect-1{
    border: 0;
    outline: none;
    width:100%;
    padding: 0.5rem 0;
    border-bottom: 0.06rem solid rgb(255, 255, 255);
    background: transparent;
}
.effect-1 ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.125rem;
    background-color: tomato;
    transition: 0.4s;
}
.effect-1:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;
}
.btn1{
    background-color: tomato;
    color: white;
}

