
/*AJUSTES PERSONALIZADOS SOBRE BOOTSTRAP*/
.navbar {
    flex-wrap: nowrap;
}




/*VISTA MOBILE*/
@media only screen and (max-width: 767px){
    /*ESTRUCTURA PAGINA COMPLETA DE HOME*/
    #grilla-home{
        display: grid;
        grid-template-areas: 
        "header header"
        "presentacion presentacion"
        "servicios servicios"
        "inversion inversion"
        "footer footer";
        grid-template-rows: 2fr auto 2fr 2fr auto;
        grid-template-columns: auto auto;
        grid-column-gap: 0.01rem;
        grid-row-gap: 0.01rem;
        height: 100vh;


        .header{
            grid-area: header;
            background: url("./assets/bg-headerdark.jpg")no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            /*estructura grid en header*/ 
            display: grid;
            grid-template-areas:
            "menu menu"
            "titulo titulo"
            "texto texto"
            "enlace enlace";
            grid-template-columns: 1fr, 1fr;
            grid-template-rows: 1fr, 1fr, 50%, 15%;
            align-content: stretch;
            grid-row-gap: 0.01rem;
           
            .header__menu{
                grid-area: menu;
            }
            .header__titulo{
                grid-area: titulo;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-self: end;
               
                /*--propiedades texto--*/
                color: white;
                font-family: 'Nunito Sans', sans-serif;
                text-align: left;
                padding: 6rem;

                h1{
                    font-weight: 300; 
                    font-size: 3rem;
                    text-transform: lowercase;
                    line-height: 2.5rem;
                }
                h2{
                    text-transform: lowercase;
                    font-weight: 700;
                    font-size: 1rem;   
                }

            }
            .header_presentacion{
                grid-area: texto;
                p{
                    color: rgb(255, 255, 255);
                    font-family: 'Nunito Sans', sans-serif;
                    text-align: center;
                    font-size: 0.7rem;
                    line-height: 20px;
                    padding-right: 0.5rem;
                }

            }
            .header__enlace{
                grid-area: enlace;
            }
        }

        .contenido#presentacion{
            grid-area: presentacion;
            display: flex;
            flex-direction: column;
            padding-bottom: 0.1rem;
            height: 100vh;
            
            
            .cuadricula{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-column-gap: 0;
                grid-row-gap: 0;
        

                .feedimg{
                    width: 100%;
                }

            }
             


        }
        .contenido#servicios{
            grid-area: servicios;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .grillacard{
                display: flex;
                flex-direction: column;
                justify-content: center;

                .card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 2rem;

                    .icon{
                        width: 20%;
                    }
                }
            }


        }
        .contenido#inversion{
            grid-area: inversion;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .grillagif{
                display: grid;
                grid-row: auto auto;
                grid-column: auto auto;

                .icongif{
                    width: 2%;
                }

            }


        }

       
        .footer{
            grid-area: footer;
            background-color: black;
            display: grid;
            grid-template-areas: 
            "logo logo"
            "lugar lugar"
            "nav nav"
            "form form";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto, auto, auto auto;
            padding-bottom: 5rem;
            padding-top: 3rem;
            
            .footer__logo{
                grid-area: logo;
                
                
                a{
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    img{
                    width: 30%;
                    }  
                }

            }
            .footer__adress{
                grid-area: lugar;
                display: flex;
                flex-direction: row;
                justify-content: center;

                p{
                    color: rgb(255, 255, 255);
                    font-family: 'Nunito Sans', sans-serif;
                    text-align: center;
                    font-size: 0.7rem;
                    line-height: 20px;
                    padding-right: 0.5rem;
                }
            }
            .footer__nav{
                grid-area: nav;
                display: flex;
                justify-content: center;
                
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    list-style-type: none;
                    
                    li{
                        line-height: 1rem;
                        text-align: center;

                        a{
                            text-decoration: none;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 0.5rem;
                            color: rgb(255, 255, 255);
                            padding: 3rem;
                            font-family: 'Nunito Sans', sans-serif;
                        }
                    }
                   
                }

            }

        }
        
        








    }
  

}

/*VISTA DESKTOP*/
@media only screen and (min-width: 768px) {
    


}