
/*AJUSTES PERSONALIZADOS SOBRE BOOTSTRAP*/
.navbar {
    flex-wrap: nowrap;
}




/*VISTA MOBILE*/
@media only screen and (min-width: 0px) and (max-width: 767px){
    /*ESTRUCTURA PAGINA COMPLETA DE HOME*/
    header{
        background-color: black;

        
            
    }
  

}

/*VISTA DESKTOP*/
@media only screen and (min-width: 768px) {
    header{
        background-color: black;
    }







}