*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*-------------ESTRUCTURA GENERAL DE PAGINAS-----------------*/
 
/*---------------------------------HOME HOME HOME HOME HOME--------------------------*/
/*--------VISTA MOBILE -------*/

@media only screen and (min-width: 0px) and (max-width: 767px) {
    #gridhome{
    display: grid;
    grid-template-areas: 
    "header header"
    "presentacion presentacion"
    "instructivo instructivo"
    "video video"
    "tips tips"
    "footer footer";

    grid-template-columns: auto, auto;
    grid-template-rows: 100px, 2fr, 2fr, 2fr, 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0.05rem;
    height: 100vh;
    
    }

    /*------------HEADER MOBILE -HEADER MOBILE----------*/
    .header{
        grid-area: header;
        /*-----degrade imagen de fondo---*/ 
        background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.7)
        ), url("./img/renderhome.jpg");
        background-size: cover;
        background-color: black;
        background-position: bottom;
        background-repeat: no-repeat;
        /*GRID EN HEADER*/
        display: grid;
        grid-template-areas:
        "logo nav"
        "titulo titulo"
        "texto texto"
        "enlace enlace";
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 1fr, 1fr, 50%, 15%, 2%;
        align-content: stretch;
        grid-row-gap: 0.1rem;
        height: 100vh;
        
    }

    .header__logo{
        grid-area: logo;
        display: flex;
        justify-content: right; 
        padding-top: 1.563rem;  
    }
    .header__logo img{
        width: 30%;
        padding: 2rem;
    }
    
    .header__nav{
        grid-area: nav; 
        padding-top: 1.563rem;               
    }

    .header__nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
               
    }

    .header__nav li{
        list-style-type: none;
        display: inline-block;
        padding: 0.1rem;
    }

    .header__nav a{
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.6rem;
        color: rgb(255, 255, 255);
        padding: 0.1rem;
        font-family: 'Nunito Sans', sans-serif;
    }

    .header__titulo{
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: end;
        padding-bottom: 0.05rem;
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        /*--propiedades texto--*/
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        text-align: justify;
    }

    .header__titulo h1{
        font-weight: 300; 
        font-size: 2.5rem;
        text-transform: uppercase;
        padding-top: 0.063rem;
        padding-bottom: 0.063rem;
        padding-right: 0.63rem;
    }

    .header__titulo h2{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8rem;
        padding-bottom: 0.063rem;
        padding-top: 0.063rem;
        padding-right: 0.63rem;
    }

    .header__presentacion{
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        text-align: justify;
        font-size: 0.8rem;
        padding-top: 0.05rem;
        padding-bottom: 0.05rem;
        padding-left: 1rem;
        padding-right: 3rem;
        /*orden elementos*/
        grid-area: texto;
        align-self: start;
        display: flex;
        justify-content: center;
        
    }
    
    /*---ENLACES INTERNOS---*/
    .header__enlaceInterno{
        grid-area: enlace;
        align-self: start;
        justify-self: center;
        display: flex;
        justify-content: center;
        padding-bottom: 0.1rem;
        padding-top: 0.1rem;
    }

    .header__enlaceInterno ul{
        list-style-type: none;
        padding-bottom: 0.05rem;
        padding-top: 0.05rem;
        /*----flexbox-----*/
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header__enlaceInterno li{
        display: inline-block; 
        display: flex;
        justify-self: center;
    }

    .header__enlaceInterno h4{
        color: rgb(255, 99, 8);
        font-family: 'Nunito Sans', sans-serif;
        text-align: right;
        font-size: 0.68rem;
        line-height: 1.25rem;
        padding-bottom: 0.05rem;
        font-weight: 800;
    }

    .header__enlaceInterno a{
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.68rem;
        color: rgb(255, 255, 255);
        padding: 0.5rem;
        padding-bottom: 0.05rem;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
    }

   /*----------------AREA DE CONTENIDO MOBILE- AREA DE CONTENIDO MOBILE----------------*/
    .contenido#presentacion{
        grid-area: presentacion;
       
       
    }

    .cuadricula{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        
    }

    .contenido{
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding-bottom: 30px;
        padding: 1.5rem;
    
    }
    .contenido h3{
        color: rgb(0, 0, 0);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: lighter;
        text-align: left;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 3rem;
        padding-bottom: 10px; 
    }
    
    .contenido p{
        color: rgb(0, 0, 0);
        font-family: 'Nunito Sans', sans-serif;
        text-align: justify;
        font-size: 0.85rem;
        line-height: 20px;
        padding: 1rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .contenido#instructivo{
        grid-area: instructivo;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .contenido#instructivo a{
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.7rem;
        color: rgb(255, 255, 255);
        padding: 0.5rem;
        margin: 10rem;
        font-family: 'Nunito Sans', sans-serif;
        background-color: rgb(255, 99, 8);
        margin-left: 50px;
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .contenido--video{
        grid-area: video;
    }
    .contenido--video iframe{
        padding: 1rem;  
    }
    
    .contenido--background{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.8)) url("./Imagenes/03.jpg");
        background-size: cover;
        background-color: rgb(111, 113, 114);
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 50px; 
        grid-area: tips;
    }
    .contenido--background h3{
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: lighter;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 3rem;
        padding-bottom: 10px;
    }
    .contenido--background h4{
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;
        font-size: 1rem;
        line-height: 20px;
        padding: 3rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .contenido--background h5{
        color: rgb(255, 99, 8);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 1.2rem;
        line-height: 20px;
        padding: 3rem;
        padding-top: 5px;
        padding-bottom: 50px;
    }
    .columnas{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .contenido--background a{
        text-decoration: none;
    }
    
    .contenido--background p{
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        text-align: justify;
        font-size: 0.85rem;
        line-height: 20px;
        padding: 3rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }
  
    
    /*----------------FOOTER MOBILE-FOOTER MOBILE----------------*/
    .footer{
        background-color: rgb(111, 113, 114);
        grid-area: footer;
        display: grid;
        grid-template-areas: 
        "logo logo"
        "lugar lugar"
        "nav nav"
        "form form";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto, auto, auto;
    }
    .footer__nav{
        grid-area: nav;
        display: flex;
        justify-content: center;
       
    }

    .footer__nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        padding: 1rem;
        padding-left: 1px;
    }
    .footer__nav li{
        line-height: 1rem;
        text-align: center;
    }
    .footer__nav a{
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.5rem;
        color: rgb(255, 255, 255);
        padding: 3rem;
        font-family: 'Nunito Sans', sans-serif;
    }
    .footer__logo{
        grid-area: logo;
        align-self: center;
        display: flex;
        justify-content: center;
    }
    .footer__logo img{
        padding-top: 5px;
        padding-bottom: 1px;
    }

    .footer__adress{
        grid-area: lugar;
        display: flex;
        justify-content: center;
    }
    .footer__adress p{
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        text-align: right;
        font-size: 0.7rem;
        line-height: 20px;
        padding-right: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
    
    }
    .footer__formulario{
        grid-area: form;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        padding: 0.05rem;  
        padding-bottom: 2rem; 
    }

    .footer__formulario label{
        font-size: 0.85rem;
        font-weight: 400;
        color: white;
        font-family: 'Nunito Sans', sans-serif;  
        padding-bottom: 10px;
    }
    .footer__formulario input{
        border: none;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-top: 5px;
        padding-left: 45px;
        padding-bottom: 5px;
        padding-right: 45px;      
    }
    .footer__formulario input{
        border: none;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-top: 5px;
        padding-left: 45px;
        padding-bottom: 5px;
        padding-right: 45px;      
    }
    .footer__formulario input.boton{
        background-color: rgb(255, 99, 8);
        text-transform: uppercase;
        font-family: 'Nunito Sans', sans-serif; 
        color: white;
        font-size: 0.65rem;
        font-weight: bold;
        text-align: justify;
        padding-right: 20px;
        padding-left: 20px; 
    }
     

}

@media only screen and (min-width: 768px){
    #gridhome{

        display: grid;
        grid-template-areas: 
        "header header header header"
        "presentacion presentacion presentacion presentacion"
        "video video instructivo instructivo"
        "tips tips tips tips"
        "footer footer footer footer";
    
        grid-template-columns: 25%,25% 25%, 25%;
        grid-template-rows: 100px, 15%, 15%, 15%, 10%;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.1rem;
        height: 100vh;
        width: 100vw; 
    
    }
    /*--------------------------HEADER DESKTOP---------------------------*/
    .header{
        grid-area: header;
        /*-----degrade imagen de fondo---*/ 
        background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.7)
        ), url("./Imagenes/01.jpg");
        background-size: cover;
        background-color: black;
        background-position: bottom;
        background-repeat: no-repeat;
        /*GRID EN HEADER*/
        display: grid;
        grid-template-areas:
        "logo logo nav nav"
        "titulo titulo titulo titulo"
        "texto texto texto texto"
        "enlace enlace enlace enlace";
        grid-template-columns: 25%, 25%, 25%, 25%;
        grid-template-rows: 10rem, 50%, 15%, 2%;
        align-content: stretch;
        grid-row-gap: 1rem;
        height: 100vh;
        width: 100vw;
    }
    
    .header__logo{
        grid-area: logo;
        align-self: start;
        justify-self: start; 
        padding-top: 1.563rem;  
    }
    .header__logo a{
        padding-left: 1.875rem;
    }
    
    /*---------NAV---------*/
    .header__nav{
        grid-area: nav; 
        justify-self: end;
        align-self: start;       
    }
    .header__nav ul{
        list-style-type: none;
        padding: 2rem;
    }
    .header__nav li{
        display: inline-block;
    }
    .header__nav a{
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.6rem;
        color: rgb(255, 255, 255);
        padding: 0.5rem;
        font-family: 'Nunito Sans', sans-serif;
    }
    /*---TITULO Y PRESENTACION---*/
    .header__titulo{
        grid-area: titulo;
        justify-self: end;
        align-self: end;
        padding-bottom: 0.05rem;
        padding-top: 9.375rem;
        padding-left: 3rem;
        padding-right: 36rem;
        /*--propiedades texto--*/
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        text-align: right;
    }
    .header__titulo h1{
        font-weight: 300; 
        font-size: 4rem;
        text-transform: uppercase;
        padding-top: 0.063rem;
        padding-bottom: 0.063rem;
        padding-right: 0.63rem;
        
    }
    .header__titulo h2{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8rem;
        padding-bottom: 0.063rem;
        padding-top: 0.063rem;
        padding-right: 0.63rem;
    }
    .header__presentacion{
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        text-align: justify;
        font-size: 0.8rem;
        padding-top: 0.05rem;
        padding-bottom: 0.05rem;
        padding-left: 43rem;
        padding-right: 3rem;
        /*orden elementos*/
        grid-area: texto;
        justify-self: start;
        align-self: start;
        }
    
     /*---ENLACES INTERNOS---*/
     .header__enlaceInterno{
        grid-area: enlace;
        align-self: start;
        justify-self: start;
        padding-bottom: 1.875rem;
        padding-top: 1.875rem;
     }
     .header__enlaceInterno ul{
        list-style-type: none;
        padding: 2rem;
        padding-left: 43rem;
        padding-bottom: 0.05rem;
        padding-top: 0.05rem;
        /*----flexbox-----*/
        display: flex;
        justify-content: end;
     }
     .header__enlaceInterno li{
        display: inline-block;
        display: flex;
        align-items: center;    
     }
     .header__enlaceInterno h4{
        color: rgb(255, 99, 8);
        font-family: 'Nunito Sans', sans-serif;
        text-align: right;
        font-size: 0.68rem;
        line-height: 20px;
        padding-bottom: 50xp;
        font-weight: 800;
       
     }
     .header__enlaceInterno a{
        text-shadow: 1rem;
        text-decoration: none;
        text-align: left;
        text-transform: uppercase;
        font-size: 0.68rem;
        color: rgb(255, 255, 255);
        padding: 0.5rem;
        padding-bottom: 50xp;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
     }
    
    /*-----------------------------AREA DE CONTENIDO ---------------------------------------------*/
    .contenido#presentacion{
        grid-area: presentacion;
    }
    .cuadricula{
        display: grid;
        ;
        /*grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; */
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        
    }
    
    .contenido{
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding-bottom: 30px;
    }
    .contenido h3{
        color: rgb(0, 0, 0);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: lighter;
        text-align: left;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 3rem;
        padding-bottom: 10px; 
    }
    
    .contenido p{
        color: rgb(0, 0, 0);
        font-family: 'Nunito Sans', sans-serif;
        text-align: justify;
        font-size: 0.85rem;
        line-height: 20px;
        padding: 3rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .contenido#instructivo{
        grid-area: instructivo;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contenido#instructivo a{
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.7rem;
        color: rgb(255, 255, 255);
        padding: 0.5rem;
        margin: 10rem;
        font-family: 'Nunito Sans', sans-serif;
        background-color: rgb(255, 99, 8);
        margin-left: 50px;
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .contenido--video{
        grid-area: video;
    }
    .contenido--video iframe{
        padding: 3rem;  
    }
    
    .contenido--background{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.8)) url("./Imagenes/03.jpg");
        background-size: cover;
        background-color: rgb(111, 113, 114);
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 50px; 
        grid-area: tips;
    }
    
    .contenido--background h3{
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: lighter;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 3rem;
        padding-bottom: 10px;
    }
    .contenido--background h4{
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;
        font-size: 1rem;
        line-height: 20px;
        padding: 3rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .contenido--background h5{
        color: rgb(255, 99, 8);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 1.2rem;
        line-height: 20px;
        padding: 3rem;
        padding-top: 5px;
        padding-bottom: 50px;
    }
    .contenido--background a{
        text-decoration: none;
    }
    
    .contenido--background p{
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        text-align: justify;
        font-size: 0.85rem;
        line-height: 20px;
        padding: 3rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .columnas{
        display: flex;
        flex-wrap: nowrap;
    
    }
    
    /*----------------FOOTER-----------------*/
    .footer{
        background-color: rgb(111, 113, 114);
        grid-area: footer;
        display: grid;
        grid-template-areas: 
        "logo nav form form"
        "lugar nav form form";
        grid-template-columns: 0.8fr 2fr 2fr 0.8fr;
        grid-template-rows: auto, auto;
    }
    .footer__nav{
        grid-area: nav;
        align-self: center;
    }
    .footer__nav ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 2rem;
        padding-top: 20px;
        padding-left: 1px;
    }
    .footer__nav li{
        line-height: 1rem;
    }
    .footer__nav a{
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.5rem;
        color: rgb(255, 255, 255);
        padding: 3rem;
        font-family: 'Nunito Sans', sans-serif;
    }
    .footer__logo{
        grid-area: logo;
        align-self: center;
        justify-self: flex-end;
    }
    .footer__logo img{
        padding-top: 5px;
        padding-bottom: 1px;
        }
    .footer__adress p{
        grid-area: lugar;
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        text-align: right;
        font-size: 0.7rem;
        line-height: 20px;
        padding-right: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
    
    }
    .footer__formulario{
        grid-area: form;
        display: flex;
        flex-direction: column;
        align-items: end;
        align-self: center;
        padding-right: 80px;
    }
    .footer__formulario label{
        font-size: 0.85rem;
        font-weight: 400;
        color: white;
        font-family: 'Nunito Sans', sans-serif;  
        padding-bottom: 10px;
    }
    .footer__formulario input{
        border: none;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-top: 5px;
        padding-left: 45px;
        padding-bottom: 5px;
        padding-right: 45px;      
    }
    .footer__formulario input{
        border: none;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-top: 5px;
        padding-left: 45px;
        padding-bottom: 5px;
        padding-right: 45px;      
    }
    .footer__formulario input.boton{
        background-color: rgb(255, 99, 8);
        text-transform: uppercase;
        font-family: 'Nunito Sans', sans-serif; 
        color: white;
        font-size: 0.65rem;
        font-weight: bold;
        text-align: justify;
        padding-right: 20px;
        padding-left: 20px; 
    }
}


/*------------------------------NOSOTROS NOSOTROS NOSOTROS NOSOTROS NOSOTROS-----------------------------*/
#gridnosotros{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "creadores creadores creadores creadores"
    "valores valores valores valores"
    "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto, 2fr 2fr 1fr; 

}
.header--imgnosotros{
    /*-----degrade imagen de fondo---*/ 
     background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.7)
      ), url("./Imagenes/02.jpg");
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo logo nav nav"
    "manifiesto manifiesto manifiesto manifiesto"
    "texto texto texto texto"
    ;
    grid-template-columns: 25%, 25%, 25%, 25%;
    grid-template-rows: 1rem, 1fr, 1fr;
    align-content: stretch;
    grid-row-gap: 1rem;
    height: 100vh;
    width: 100vw;
}
.header__titulo#manifiesto{
    grid-area: manifiesto;
    display: flex;
    flex-direction: column;

}
.header__presentacion#manifiesto-text{
    grid-area: texto;
    justify-self: end;
    padding-right: 36rem;
    padding-left: 3rem;
    padding-bottom: 15rem;
    display: flex;
    flex-direction: column;
}
.contenido img{
    width: 30%;
}
.contenido#creadores{
    grid-area: creadores;
    display: flex;
    flex-direction: row;
    align-items: center;  
}
.contenido#valores{
    grid-area: valores;
}
.contenido h3#titulo-centrado{
    text-align: center;
}
/*--------------------------TIENDA TIENDA TIENDA TIENDA TIENDA TIENDA-----------------------------*/
.header--imgtienda{
    /*-----degrade imagen de fondo---*/ 
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.15)
          ), url("./Imagenes/04.jpg");
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}
.main__filtros{
    color: rgb(0, 0, 0);
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 3rem;
    padding-bottom: 10px;
}

.formulario{
    padding-bottom: 48px;
    padding-left: 48px;
}
.formulario__casilla{
    margin-bottom: 7px;
}





/*--------------------------NOVEDADES BLOG NOVEDADES BLOG NOVEDADES BLOG-----------------------------*/
.header--backgroundcolor{
    /*-----degrade imagen de fondo---*/ 
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

.fondonegro{
    background-color: black; 
}

.recentpost{
    background-image: 
    linear-gradient(
        rgba(48, 23, 1, 0.7),
        rgba(48, 23, 1, 0.7),
        rgba(48, 23, 1, 0.7)
      ), url("./Imagenes/fondoblog.jpg");

    background-position: center;
    background-size: 50rem;
    background-repeat: repeat;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 2rem;
    padding: 50px;
}

.recentpost__titulo a{
    text-decoration: none;
 }
.recentpost__titulo h1{
    color: white;
    font-family: 'Nunito Sans', sans-serif; 
    text-align: left;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.imgpost{
    border-radius: 5rem;
    padding: 50px;
}
.readmore a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.readmore--white a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.recentpost__text p{
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    font-size: 0.85rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.olderpost{
    background-size: cover;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 50px;
}
.olderpost a{
    text-decoration: none;
}
.olderpost h3{
    color: rgb(0, 0, 0);
    font-family: 'Nunito Sans', sans-serif; 
    text-align: left;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.olderpost__text p{
    color: rgb(0, 0, 0);
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    font-size: 0.85rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*-------------------CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO--------------*/
.header--imgcontacto{
    /*-----degrade imagen de fondo---*/ 
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.15)
          ), url("./Imagenes/05.jpg");
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}








