@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,900;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

/*MAP*/
.font--colorprimary {
  color: white;
}

.font--colorsecondary {
  color: black;
}

.font--colordetail {
  color: tomato;
}

/*MIXIN*/
/*tipo de texto para header*/
.text01 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: lowercase;
  font-family: 'Nunito Sans', sans-serif;
}

.text02 {
  font-size: 3rem;
  font-weight: 200;
  text-transform: none;
  font-family: 'Nunito Sans', sans-serif;
}

/*tipo de texto para titulos de contenido*/
.text03 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
}

/*tipo de texto para parrafos*/
.text04 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
  font-family: 'Nunito Sans', sans-serif;
}

.text05 {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  font-family: 'Nunito Sans', sans-serif;
}

/*tipo de texto para titulos de secciones*/
.text06 {
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
}

/*tipo de texto para menu o botones*/
.text07 {
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
}

/*EXTEND*/
.mi-btn, .mi-btn--02 {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  /*vertical-align: middle; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: tomato;
  border: 0.1rem solid transparent;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.mi-btn:hover, .mi-btn--02:hover {
  color: tomato;
  background-color: white;
}

.mi-btn--02 {
  background-color: transparent;
  border: 0.1rem solid white;
}

.mi-btn--02:hover {
  color: black;
  background-color: white;
}

/*HEADER SERVICIOS*/
.bg-imagen02 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.9))), url(../assets/bg-headerligth.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../assets/bg-headerligth.jpg);
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/*CONTENIDO-SERVICIOS*/
.contenido-serv .titulo {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  padding-top: 4rem;
}

.contenido-serv .titulo h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: tomato;
  text-transform: uppercase;
}

.contenido-serv .titulo h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: tomato;
  text-transform: uppercase;
}

.contenido-serv .card-1 {
  text-align: center;
}

.contenido-serv .card-1 .icon {
  width: 20%;
  padding-top: 3rem;
}

.contenido-serv .card-1 .card__text {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 2rem;
  text-align: center;
}

.contenido-serv .card-1 h4 {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
}

.contenido-serv .card-1 h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: tomato;
}

.contenido-serv .card-1 h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7rem;
  color: tomato;
}

.contenido-serv .card-1 ul {
  list-style-type: none;
}

.contenido-serv .card-1 ul li {
  line-height: 1.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

/*CONTENIDO-PRESUPUESTOS*/
.titulo-pres h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 300;
}

.titulo-pres h3 {
  text-align: center;
  font-size: 1rem;
  color: tomato;
}

h4 {
  text-align: left;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 300;
}

/*--FOOTER--*/
.titulo-pie {
  font-size: 1.2rem;
  font-weight: 500;
  color: tomato;
}

.img-logo {
  width: 60%;
}

/*AJUSTES PERSONALIZADOS SOBRE BOOTSTRAP*/
/*-- HOME HEADER--*/
.encabezado {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7))), url("../assets/fednoe-03.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../assets/fednoe-03.jpg");
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/*--CONTENIDO HEADER HOME--*/
.titulo-header {
  height: 100vh;
  /*padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem; */
}

/*--CONTENIDO HOME--*/
.contenido {
  height: 100vh;
}

.contenido .contenido__feed .presentacion {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 3rem;
  text-align: center;
}

/* 
.btn-img{
    position: relative;
    display: inline-block;
        
    a{
        text-decoration: none;
        h4{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-transform: uppercase;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 500; 
            font-size: 1.5rem; 
            text-align: center;  
            }
        }  
    }
}
*/
/*--CONTENIDO-INVERSION HOME--
.contenido-inv{
    background-color: rgb(255, 255, 255);
    .titulo-seccion{
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;
    }
}
*/
/*-------------------------------------------------------------------------*/
/*--GALERIA--*/
/*--GALERIA--*/
/*--GALERIA--*/
.bg-imagen01 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.9))), url(../assets/bg-gallery.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../assets/bg-gallery.jpg);
  background-size: cover;
  background-color: black;
  background-position: initial;
  background-repeat: no-repeat;
  height: 100vh;
}

/*-- HEADER GALERIA--*/
.w-100x100 {
  width: 100%;
}

.w-30x100 {
  width: 30%;
}

.w-20x100 {
  width: 20%;
}

.w-10x100 {
  width: 10%;
}

/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*--CONTACTO--*/
/*--CONTACTO--*/
/*--CONTACTO--*/
.contacto {
  background: url("../assets/bg-headerdark.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

/*--CONTENIDO SECTION CONTACTO--*/
.card {
  background-color: rgba(0, 0, 0, 0.459);
}

.effect-1 {
  border: 0;
  outline: none;
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 0.06rem solid white;
  background: transparent;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.125rem;
  background-color: tomato;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  left: 0;
}

.btn1 {
  background-color: tomato;
  color: white;
}
/*# sourceMappingURL=sassestilos.css.map */