@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,900;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

/*MAP*/
.font--colorprimary {
  color: white;
}

.font--colorsecondary {
  color: black;
}

.font--colordetail {
  color: tomato;
}

/*MIXIN*/
/*tipo de texto para header*/
.text01 {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
}

.text02 {
  font-size: 4rem;
  font-weight: 200;
  text-transform: lowercase;
  font-family: 'Nunito Sans', sans-serif;
}

/*tipo de texto para titulos de contenido*/
.text03 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Nunito Sans', sans-serif;
}

/*tipo de texto para parrafos*/
.text04 {
  font-size: 0.7rem;
  font-weight: 200;
  text-transform: none;
  font-family: 'Nunito Sans', sans-serif;
}

/*tipo de texto para titulos de secciones*/
.text05 {
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
}

/*tipo de texto para menu o botones*/
.text06 {
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
}

/*EXTEND*/
.mi-btn, .mi-btn--02 {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  /*vertical-align: middle; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: tomato;
  border: 0.1rem solid transparent;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.mi-btn:hover, .mi-btn--02:hover {
  color: tomato;
  background-color: white;
}

.mi-btn--02 {
  background-color: transparent;
  border: 0.1rem solid white;
}

.mi-btn--02:hover {
  color: black;
  background-color: white;
}

/*HEADER SERVICIOS*/
.bg-imagen02 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.9))), url(../assets/bg-headerligth.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../assets/bg-headerligth.jpg);
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/*CONTENIDO-SERVICIOS*/
.contenido-serv .titulo {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  padding-top: 4rem;
}

.contenido-serv .titulo h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: tomato;
  text-transform: uppercase;
}

.contenido-serv .titulo h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: tomato;
  text-transform: uppercase;
}

.contenido-serv .card-1 {
  text-align: center;
}

.contenido-serv .card-1 .icon {
  width: 20%;
  padding-top: 3rem;
}

.contenido-serv .card-1 .card__text {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 2rem;
  text-align: center;
}

.contenido-serv .card-1 h4 {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
}

.contenido-serv .card-1 h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: tomato;
}

.contenido-serv .card-1 h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7rem;
  color: tomato;
}

.contenido-serv .card-1 ul {
  list-style-type: none;
}

.contenido-serv .card-1 ul li {
  line-height: 1.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

/*CONTENIDO-PRESUPUESTOS*/
.titulo-pres h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 300;
}

.titulo-pres h3 {
  text-align: center;
  font-size: 1rem;
  color: tomato;
}

h4 {
  text-align: left;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 300;
}

/*--FOOTER--*/
.titulo-pie {
  font-size: 1.2rem;
  font-weight: 500;
  color: tomato;
}

.img-logo {
  width: 60%;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  /*header personalizado nosotros*/
  .header--background {
    grid-area: header;
    background-color: black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.7))), url("../assets/img-about-us/pexels-rok-romih-3312671.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../assets/img-about-us/pexels-rok-romih-3312671.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /*GRID EN HEADER NOSOTROS*/
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo nav"
 "manifiesto manifiesto"
 "texto texto";
    -ms-grid-columns: 50%, 50%;
        grid-template-columns: 50%, 50%;
    -ms-grid-rows: 1fr, 3fr, auto;
        grid-template-rows: 1fr, 3fr, auto;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    grid-row-gap: 0.1rem;
    height: 100vh;
  }
  .header__titulo#manifiesto {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: manifiesto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__presentacion#manifiesto-text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: texto;
    justify-self: end;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*---AREA DE CONTENIDO---*/
  .contenido#presentacion {
    grid-area: presentacion;
  }
  .cuadricula {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    padding-bottom: 30px;
    padding: 1.5rem;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-size: 0.85rem;
    line-height: 1rem;
  }
  .contenido h3 {
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3rem;
    padding-bottom: 0.625rem;
  }
  .contenido p {
    padding: 1rem;
    /* padding-top: 0.625rem;
    padding-bottom: 0.625rem; */
  }
  .contenido#instructivo {
    grid-area: instructivo;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .contenido#instructivo a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: white;
    padding: 0.5rem;
    margin: 10rem;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #ff6308;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .contenido--video {
    grid-area: video;
  }
  .contenido--video iframe {
    padding: 1rem;
  }
  .contenido--background {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))) url("./Imagenes/03.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.8)) url("./Imagenes/03.jpg");
    background-size: cover;
    background-color: #6f7172;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    grid-area: tips;
  }
  .contenido--background h3 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3rem;
    padding-bottom: 10px;
  }
  .contenido--background h4 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 1rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .contenido--background h5 {
    color: #ff6308;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 5px;
    padding-bottom: 50px;
  }
  .columnas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .contenido--background a {
    text-decoration: none;
  }
  .contenido--background p {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-size: 0.85rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /*contenido personalizado nosotros*/
  .contenido#creadores {
    grid-area: creadores;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #1d1c1c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url("../assets/img-about-us/fondo-owner.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../assets/img-about-us/fondo-owner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: black;
  }
  .card#horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .card#horizontal img {
    width: 40%;
  }
  .contenido#valores {
    grid-area: valores;
  }
  .contenido#valores h3 {
    text-align: center;
    padding: 1.5rem;
    line-height: 2rem;
    /*interlineado*/
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #aling-nombre01 {
    text-align: left;
    padding: 1rem;
  }
  #aling- {
    text-align: right;
    padding: 1rem;
  }
  .card img {
    width: 30%;
    padding: 1rem;
  }
  .contenido#valores h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: logo;
    -ms-flex-item-align: start;
        align-self: start;
        justify-self: start;
    padding-top: 1.563rem;
  }
  .header__logo a {
    padding-left: 1.875rem;
  }
  .header__logo img {
    width: 20%;
  }
  .header__nav {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: nav;
        justify-self: end;
    -ms-flex-item-align: start;
        align-self: start;
  }
  .header__nav ul {
    list-style-type: none;
    padding: 2rem;
  }
  .header__nav li {
    display: inline-block;
  }
  .header__nav a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6rem;
    color: white;
    padding: 0.5rem;
    font-family: 'Nunito Sans', sans-serif;
  }
  .header__titulo {
    grid-area: titulo;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    padding-bottom: 0.05rem;
    padding-top: 9.375rem;
    padding-left: 3rem;
    padding-right: 36rem;
    /*--propiedades texto--*/
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: right;
  }
  .header__titulo h1 {
    font-weight: 300;
    font-size: 4rem;
    text-transform: uppercase;
    padding-top: 0.063rem;
    padding-bottom: 0.063rem;
    padding-right: 0.63rem;
  }
  .header__titulo h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    padding-bottom: 0.063rem;
    padding-top: 0.063rem;
    padding-right: 0.63rem;
  }
  .header__presentacion {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-size: 0.8rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    padding-left: 43rem;
    padding-right: 3rem;
    /*orden elementos*/
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: texto;
        justify-self: start;
    -ms-flex-item-align: start;
        align-self: start;
  }
  /*---Enlaces internos en header home---*/
  .header__enlaceInterno {
    grid-area: enlace;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: start;
        justify-self: start;
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
  }
  .header__enlaceInterno ul {
    list-style-type: none;
    padding: 2rem;
    padding-left: 43rem;
    padding-bottom: 0.05rem;
    padding-top: 0.05rem;
    /*----flexbox-----*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header__enlaceInterno li {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__enlaceInterno h4 {
    color: #ff6308;
    font-family: 'Nunito Sans', sans-serif;
    text-align: right;
    font-size: 0.68rem;
    line-height: 20px;
    padding-bottom: 50xp;
    font-weight: 800;
  }
  .header__enlaceInterno a {
    text-shadow: 1rem;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.68rem;
    color: white;
    padding: 0.5rem;
    padding-bottom: 50xp;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
  }
  /*---ESTRUCTURA GRID DE NOSOTROS ---*/
  #gridnosotros {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header header"
 "creadores creadores creadores creadores"
 "valores valores valores valores"
 "footer footer footer footer";
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto, 2fr 2fr 1fr;
        grid-template-rows: auto, 2fr 2fr 1fr;
  }
  /*header personalizado nosotros*/
  .header--background {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.7))), url("../assets/img-about-us/pexels-rok-romih-3312671.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../assets/img-about-us/pexels-rok-romih-3312671.jpg");
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: header;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo logo nav nav"
 "manifiesto manifiesto manifiesto manifiesto"
 "texto texto texto texto";
    -ms-grid-columns: 25%, 25%, 25%, 25%;
        grid-template-columns: 25%, 25%, 25%, 25%;
    -ms-grid-rows: 1rem, 1fr, 1fr;
        grid-template-rows: 1rem, 1fr, 1fr;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    grid-row-gap: 1rem;
  }
  .header__titulo#manifiesto {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: manifiesto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__presentacion#manifiesto-text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: texto;
    justify-self: end;
    padding-right: 36rem;
    padding-left: 3rem;
    padding-bottom: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*-----------------------------AREA DE CONTENIDO ---------------------------------------------*/
  .contenido#presentacion {
    grid-area: presentacion;
  }
  .cuadricula {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    padding-bottom: 30px;
    padding: 1.5rem;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-size: 0.85rem;
    line-height: 1rem;
  }
  .contenido h3 {
    color: black;
    font-weight: lighter;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3rem;
    padding-bottom: 0.625rem;
  }
  .contenido p {
    padding: 1rem;
  }
  .contenido#instructivo {
    grid-area: instructivo;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contenido#instructivo a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: white;
    padding: 0.5rem;
    margin: 10rem;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #ff6308;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .contenido--video {
    grid-area: video;
  }
  .contenido--video iframe {
    padding: 3rem;
  }
  .contenido--background {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))) url("./Imagenes/03.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.8)) url("./Imagenes/03.jpg");
    background-size: cover;
    background-color: #6f7172;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    grid-area: tips;
  }
  .contenido--background h3 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3rem;
    padding-bottom: 10px;
  }
  .contenido--background h4 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 1rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .contenido--background h5 {
    color: #ff6308;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 5px;
    padding-bottom: 50px;
  }
  .contenido--background a {
    text-decoration: none;
  }
  .contenido--background p {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
    font-size: 0.85rem;
    line-height: 20px;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .columnas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  /*contenido personalizado nosotros*/
  .contenido#creadores {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: creadores;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #1d1c1c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url("../assets/img-about-us/fondo-owner.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../assets/img-about-us/fondo-owner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: black;
    height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .card#horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .card#horizontal img {
    width: 45%;
  }
  .contenido#valores {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: valores;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .contenido#valores h3 {
    text-align: center;
    padding: 2rem;
    line-height: 2rem;
    /*interlineado*/
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #aling-nombre01 {
    text-align: right;
    padding: 1rem;
  }
  #aling-nombre02 {
    text-align: left;
    padding: 1rem;
  }
  .card img {
    width: 20%;
    padding: 1rem;
  }
  .contenido#valores h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem;
  }
}

/*AJUSTES PERSONALIZADOS SOBRE BOOTSTRAP*/
/*-- HEADER HOME--*/
.encabezado {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7))), url(../assets/bg-headerdark.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../assets/bg-headerdark.jpg);
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/*--CONTENIDO HEADER HOME--*/
.encabezado__titulo {
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
}

.encabezado__titulo h1 {
  font-weight: 300;
  font-size: 3rem;
  text-transform: lowercase;
  line-height: 3rem;
  text-align: right;
}

.encabezado__titulo h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  text-align: right;
}

.encabezado__presentacion {
  font-family: 'Nunito Sans', sans-serif;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 3rem;
}

.encabezado__presentacion h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.encabezado__presentacion p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1rem;
  padding-right: 0.5rem;
  font-weight: 200;
}

/*--CONTENIDO-FEED HOME--*/
.contenido-feed {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7))), url(../assets/img-about-us/fondo-owner.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../assets/img-about-us/fondo-owner.png);
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.contenido-feed .feedimg {
  width: 100%;
}

.contenido-feed .btn-img {
  position: relative;
  display: inline-block;
}

.contenido-feed .btn-img a {
  text-decoration: none;
}

.contenido-feed .btn-img a h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

/*--CONTENIDO-INVERSION HOME--*/
.contenido-inv {
  background-color: white;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.contenido-inv .img-inv {
  max-width: 100%;
  max-height: auto;
}

.card-2 {
  border-radius: 0.5rem;
  background-color: white;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card-2 .icongif {
  width: 30%;
}

.card-2 h3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.7rem;
  color: black;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*-------------------------------------------------------------------------*/
/*--GALERIA--*/
/*--GALERIA--*/
/*--GALERIA--*/
.bg-imagen01 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.9))), url(../assets/bg-gallery.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../assets/bg-gallery.jpg);
  background-size: cover;
  background-color: black;
  background-position: initial;
  background-repeat: no-repeat;
  height: 100vh;
}

/*-- HEADER GALERIA--*/
.w-100x100 {
  width: 100%;
}

.w-30x100 {
  width: 30%;
}

.w-20x100 {
  width: 20%;
}

.w-10x100 {
  width: 10%;
}

/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*--CONTACTO--*/
/*--CONTACTO--*/
/*--CONTACTO--*/
.contacto {
  background: url("../assets/bg-headerdark.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

/*--CONTENIDO SECTION CONTACTO--*/
.card {
  background-color: rgba(0, 0, 0, 0.459);
}

.effect-1 {
  border: 0;
  outline: none;
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 0.06rem solid white;
  background: transparent;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.125rem;
  background-color: tomato;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  left: 0;
}

.btn1 {
  background-color: tomato;
  color: white;
}
/*# sourceMappingURL=sassestilos.css.map */